/* Default styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    min-height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px; /* Limit the maximum width for larger screens */
    padding: 20px;
}

h1 {
    font-size: 3em; /* Relative font size */
    margin-bottom: 50px;
}

.gif-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gif-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px;
}

.gif-button:hover {
    transform: scale(1.2); /* Enlarge the GIF buttons on hover */
}

.gif-img {
    width: 300px; /* Increase the width */
    height: 300px; /* Increase the height */
    border-radius: 50%;
    overflow: hidden;
}

.back-button {
    justify-content: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #fff;
    padding: 30px 60px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none; /* Hide initially */
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Adjust font size for smaller screens */
    }

    .gif-buttons {
        flex-direction: column;
    }

    .gif-img {
        width: 60px; /* Decrease the width */
        height: 60px; /* Decrease the height */
    }
}
